@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #020d18;
  --secondary-color: #ffcbc2;
  --accent1-color: #282828;
  --accent2-color: #f0f0f0;

  --heading-font: "Roboto", serif;
  --paragraph-font: "Open Sans", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  padding: 20px 20px 0 20px;
  background-color: var(--accent1-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent2-color);
}

.hero {
  position: relative;
}

.hero > img {
  display: block;
  width: 100%;
  height: auto;
}

article img {
  float: right;
}

article {
  position: absolute;
  top: 32%;
  left: 0;
  background-color: rgb(240, 240, 240, 0.6);
  padding: 24px;
  line-height: 25px;
  font-size: 20px;
}

.hero h1 {
  position: absolute;
  top: 25%;
  left: 0;
  background-color: rgba(240, 240, 240, 0.5);
  color: var(--primary-color);
  padding: 6px;
}

/* Used CSS Grid in the header to create the horizontal layout between the logo and the navigation bar. */
header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: var(--accent2-color);
}

header img {
  margin: 0 0.2rem 0 0;
  width: 75px;
  height: auto;
}

/* Used CSS Flex to create the horizontal layout in the nav */
header nav {
  display: flex;
  justify-content: space-around;
}

header nav a,
footer nav a {
  display: block;
  color: navy;
  padding: 20px;
  text-decoration: none;
}

h2 {
  text-align: center;
  padding: 2rem 0 2rem 0;
}

.history img {
  width: 300px;
  height: auto;
  display: block;
}

.adventure figure img {
  width: 160px;
  height: auto;
  display: block;
}

.history div {
  display: flex;
  gap: 25px;
  padding: 2rem;
  background-color: var(--accent2-color);
  font-size: 18px;
  line-height: 25px;
}

.adventure div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--accent2-color);
}

.adventure figure figcaption {
  text-align: center;
  padding: 0.5rem 0 0 0;
}

.adventure,
.history {
  margin-top: 2rem;
}

.sociallinks img {
  width: 22px;
  height: auto;
  display: block;
}

footer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  text-align: right;
  align-items: center;
  background-color: var(--accent2-color);
  color: var(--accent1-color);
  margin-top: 6rem;
}

footer .link {
  font-size: 14px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.sociallinks {
  display: flex;
  justify-content: flex-end;
}

/* contact us */

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1.2fr 1.5fr auto;
  gap: 60px;
}

.contact h1 {
  grid-column: 1/3;
  grid-row: 1;
  padding: 20px;
  border-bottom: 1px solid var(--accent2-color);
  text-align: center;
}

.contact .testimonial {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  padding: 40px 5px 40px 5px;
  column-gap: 120px;
  background-color: #dbdbdb;
}

.testimonial figure {
  width: 100px;
  height: 100px;
}

.testimonial img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.testimonial figcaption {
  text-align: center;
  font-style: italic;
  padding: 3px;
}

.contact .map {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  border: 0;
}

.contact .info {
  grid-column: 1/3;
  grid-row: 4/5;
  display: flex;
  justify-content: space-between;
  background-color: var(--accent2-color);
  color: var(--accent1-color);
  text-align: center;
  padding: 35px;
}

.info p {
  padding: 3px;
}

.info h3 {
  color: #4c0800;
  font-size: 24px;
}

.contact .Form {
  justify-self: center;
  align-self: center;
  grid-row: 2/4;
  grid-column: 2/3;
}

.Form h4 {
  color: var(--primary-color);
}

.contact form {
  display: flex;
  background-color: #dbdbdb;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--accent2-color);
}

.container .Form1 p {
  padding: 50px 0 0;
  font-size: 20px;
  text-align: center;
  color: var(--accent2-color);
}

form label,
#username,
#username1,
#email,
#email1,
#txt {
  display: block;
}

#username,
#username1,
#email,
#email1,
#txt {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: none;
}

#txt {
  height: 80px;
}

#username,
#username1,
#email,
#email1 {
  height: 40px;
}

button {
  height: 45px;
  border: none;
  font-size: 20px;
  background-color: #4c0800;
  color: var(--accent2-color);
}

button:hover {
  opacity: 0.95;
  cursor: pointer;
}

.container {
  background: url("../images/circuit-board.svg") 0px 0px / cover no-repeat;
  padding: 10px;
}

.home_main {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.home_main h1 {
  text-transform: uppercase;
  color: skyblue;
}

.home_main p {
  font-size: 18px;
  line-height: 24px;
}

.home_main div:nth-child(1) {
  padding-left: 10px;
}

.home_main img {
  width: 600px;
  height: auto;
  display: block;
}

.home_img {
  width: 600px;
  height: 100%;
}

.container .home_main .action_call {
  padding: 15px;
  background-color: #4c0800;
  display: inline-flex;
  font-size: 18px;
}

.home_main a {
  text-decoration: none;
  display: block;
  color: var(--accent2-color);
}

.home_main p {
  margin: 8px auto 10px;
  color: var(--accent2-color);
}

.home_img > div {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}

.home_img div img {
  display: block;
  width: auto;
  height: 200px;
}

.home_img .offer {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  bottom: 0;
  top: 0;
  font-size: 19.2px;
  background-color: #101010;
  color: var(--accent2-color);
  opacity: 0.8;
  padding: 20px;
}

.trips_container h1 {
  padding: 50px 0;
}

.trips_container caption {
  margin: 60px 0 10px;
  letter-spacing: 1px;
  color: var(--accent2-color);
}

.trips_container p {
  line-height: 24px;
  color: var(--accent2-color);
}

.main_trips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #020d18;
  gap: 15px;
  padding: 20px;
}

.trips_container a{
  display: block;
  color:white;
  text-decoration: none;
  background-color: #4c0800;
  width:280px;
  text-align: center;
  padding:10px 0px;
  margin-top: 10px;
}

.trips_container a:hover{
  opacity:0.85
}

.main_trips .figcaption {
  font-size: 24px;
  font-weight: 600;
  padding: 6px 0;
  color: var(--accent2-color);
}

.main_trips img {
  width: 100%;
  height: auto;
  display: block;
}

th,
td {
  border: 2px solid var(--accent2-color);
}

table {
  border-collapse: collapse;
  width: 75%;
  margin: 0 auto;
}

table :nth-child(2) {
  width: 62%;
}

td {
  background-color: #dedede;
  padding: 40px 25px;
}

th {
  background-color: #020d18;
  border: 0;
  color: var(--accent2-color);
  padding: 10px;
}
